[Unit]
Description=Gunicorn service for {{ app_name }}
Requires={{ app_name }}.socket
After=network.target

[Service]
User={{ app_user }}
Group=www-data
WorkingDirectory={{ app_directory }}
ExecStart={{ app_directory }}/.venv/bin/gunicorn \
          --access-logfile - \
          --workers {{ app_workers }} \
          --bind unix:{{ app_socket }} \
          {{ app_wsgi_module }}

[Install]
WantedBy=multi-user.target
