server {

    listen 80;
    server_name {{ fqdn }};

    {% if use_certbot %}

    # If using Certbot, serve the Certbot challenge temporarily
    location /.well-known/acme-challenge/ {
        allow all;
        root {{ certbot_webroot_directory }}/;
        default_type "text/plain";
        try_files $uri =404;
    }

    {% else %}

    # Don't log favicon requests
    location = /favicon.ico { access_log off; log_not_found off; }

    # Serve Django static files
    location /static/ {
        alias {{ static_directory }}/;
        autoindex off;
    }

    # Proxy admin paths to Django
    location /admin/ {
        client_max_body_size 50M;
        include proxy_params;
        proxy_pass http://unix:{{ app_socket }};
    }

    # Proxy other paths to Django
    location / {
        client_max_body_size 20M;
        include proxy_params;
        proxy_pass http://unix:{{ app_socket }};
    }

    {% endif %}
}
