[Unit]
Description=Gunicorn service for pmkdata
Requires=pmkdata.socket
After=network.target

[Service]
User={{ app_user }}
Group=www-data
WorkingDirectory={{ app_directory }}
ExecStart={{ app_directory }}/.venv/bin/gunicorn \
          --access-logfile - \
          --workers {{ app_workers }} \
          --bind unix:{{ app_socket }} \
          pmkdata.wsgi:application

[Install]
WantedBy=multi-user.target
